/* ----------------------------------------------
	Template Name : FreshMedia
	Template Code : S-0021
	Version : 1.0   
	Author : Erwin Aligam
	Author URI : http://www.styleshout.com/       
	Last Date Modified : February 07, 2008	
 ------------------------------------------------ */
 
/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 

/* Top Elements */
* { margin: 0; padding: 0; outline: 0 }

body {
	font: 11px/165% "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
	color: #666666; 	
	margin: 0; padding: 0 0 50px 0; 
	background: #fff;
	text-align: center;
}

/* Links */
a, a:active, a:link {
	text-decoration: none;
	color: #0B9AC7;		
}
a:visited {
	text-decoration: none;
}
a:hover {
	background: #F1F9DA; 
	color: #895F30;
	border-bottom: 1px dotted #895F30;
}

/* headers */
h1, h2, h3 {
	font-family: "Trebuchet MS", Tahoma, Arial, Sans-serif;
	color: #555;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 350%;	
	font-weight: normal;
	letter-spacing: -2px;
	padding: 15px 10px 5px 10px;
	margin: 0;
}
h2 {
	font-size: 200%;
	color: #895F30;
	padding: 20px 10px 5px 10px;
	margin: 0;
}
h3 {
	font-size: 170%;	
	font-weight: normal;
	padding: 20px 10px 5px 10px;
	margin: 0;	
}

p, dl { padding: 10px; margin: 0; }

ul, ol {
	margin: 10px 20px;
	padding: 0 20px;
}
ul { list-style: none; }

dt {
  font-weight: bold;
  color: #895F30;
}
dd {
  padding-left: 25px; 
}

/* images */
img {
	background-color: transparent;
	border: none;
	padding: 5px;
}
img.float-right {
  	margin: 5px 0px 10px 10px;  
}
img.float-left {
  	margin: 5px 10px 10px 0px;
}

code {
  	margin: 5px 0;
  	padding: 15px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
  	/* white-space: pre; */
  	border: 1px solid #ECF8FE;
	background: #ECF8FE;  
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #895F30;
}
blockquote {
	margin: 15px 10px;
 	padding: 10px 10px 10px 35px;  
   border: 1px solid #ECF8FE;
	background: #ECF8FE url(images/quote.jpg) no-repeat 10px 10px;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;	
	color: #976957;	
}

/* start - table */
table {
	border-collapse: collapse;
	margin: 15px 10px;	
}

th {
	background: #ADD8E6 url(images/header-bg.jpg) repeat-x 0 -100px;
	height: 38px;
	padding-left: 12px;
	padding-right: 12px;
	color: #fff;
	text-align: left;
	border-left: 1px solid #78C7FA;
	border-bottom: solid 2px #fff;
}

th a, th a:active, th a:link, th a:hover {
	color: #fff;
	background-color: transparent;
}

tr {
	height: 34px;
	background: #fff;
}
td {
	padding-left: 11px;
	padding-right: 11px;
	border: 1px solid #EDEDED;
	background: #fff;
}	

td.active {
	background: #fff;
}

/* end - table */

/* form elements */
form {
	margin: 15px 10px; padding: 5px 10px 20px 10px;
	border: 1px solid #f1f1f1; 
	background: #fdfdfd; 	
}
label {
	display: block;
	font-weight: bold;
	margin: 8px 0 5px 0;
	color: #895F30;
}
input, select {
	padding: 4px;
	font: normal 1em Verdana, sans-serif;
	color: #666666;
	background: #fff;  	
}
textarea {
	width: 400px;
	padding: 4px;
	font: normal 1em Verdana, sans-serif;
	height: 100px;
	display: block;
	color: #666666;
}
input, textarea, select {
	background: #fff;
  	border-width: 1px;
  	border-style: solid;
  	border-color: #D4D4D4 #ebebeb #ebebeb #d4d4d4; 
}

input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 30px;
	margin: 0;
	padding: 2px 3px; 
	color: #555;
	background: #E6E6E6;
	
	border-width: 1px;
  	border-style: solid;
  	border-color: #ebebeb #d4d4d4 #d4d4d4 #ebebeb;
}

/* search form */
#block-search-0 form{
	background-color: transparent;
	border: none;	
	margin: 0; padding: 12px 0 15px 8px;	
	width: 100%;	
}
#block-search-0 p { margin: 0; padding: 0 0 10px 0; }
#block-search-0 .form-item input { 
	width: 170px;
	color: #777; 
	height: 18px;
	padding: 2px;	
	vertical-align: top;
}
#block-search-0 input.form-submit { 
	width: 60px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
	font: bold 12px Arial, Sans-serif; 
	margin: 0;
	color: #555;
	background: #E6E6E6;
	border-width: 1px;
  	border-style: solid;
  	border-color: #ebebeb #d4d4d4 #d4d4d4 #ebebeb;
}

#block-search-0 .form-item label {
	display: none;
}

/*------------------------------------------
   LAYOUT
-------------------------------------------*/ 
#wrap-out {
	position: relative;
	background: #fff url(images/header-bg.jpg) repeat-x;
	width: 900px;	
	margin: 0 auto;
	text-align: left;	
}
#wrap {
	background: url(images/header-photo.jpg) no-repeat right top;
	width: 900px;	
	margin: 0 auto;	
}
#content-wrap {
	position: relative;
	clear: both;
	float: left;	
	width: 900px;	
	padding: 0; 		
	margin-left: 5px;	
	background: transparent;
	display: inline;	
}
#header {
	position: relative;
	width: 900px;	
	height: 325px;	
	padding: 0;	
	margin: 0 auto;
	background: transparent;
}

/*  Navigation  */
#nav {
	position: absolute;
	clear: both;	
	margin: 0; padding: 0;		
	height: 35px;
	left: 0;	top: 35px;	
	z-index: 99999;
}
#nav ul {
	float: left;
	list-style: none;
	width: 900px;		
	height: 35px;
	text-transform: uppercase;
	margin: 0;	padding: 0;	
	display: inline;
}
#nav ul li {
	display: inline;
	margin: 0; padding: 0;
}
#nav ul li a {
	float: left;
	margin: 0;	padding: 0 10px;
	font: bold 15px/35px "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
	text-transform: uppercase;
	text-decoration: none;	
	letter-spacing: -0.3px;
	color: #694f42;
}
#nav ul li a:hover, 
#nav ul li a:active {
	color: #111;
	background: none;
	border: none;
}
#nav ul li#current a {	
	color: #0da7d2;	
}

#header h1#logo-text a {
	position: absolute;
	margin: 0; padding: 0;
	font: normal 72px Georgia, "Times New Roman", Times, serif;
	letter-spacing: -1.5px;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 95px; left: 30px;	
}
#header h1#logo-text a:hover {
	background: none;	border: none;
}
#header p#intro {
	position: absolute;
	margin: 0; padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.6em;
	font-style: italic;
	text-transform: none;
	color: #755643;
	width: 400px;
	
	/* change the values of top and left to adjust the position */
	top: 190px; left: 35px;		
}


/* Main Column */
#main {
	float: left;
	width: 560px;
	padding: 0; margin: 0;
	display: inline;		
}

h1.node-title{
	padding-bottom: 3px;
	font: normal 3.5em Georgia, "Times New Roman", Times, serif;
	color: #895F30; 
	letter-spacing: -2px;	
	text-transform: none;
	border-bottom: 1px solid #ebebeb;	
}

#main h2 {
	padding-bottom: 3px;
	margin-top: 15px;
	font: normal 3.5em Georgia, "Times New Roman", Times, serif;
	color: #895F30; 
	letter-spacing: -2px;	
	text-transform: none;
	border-bottom: 1px solid #ebebeb;	
}
#main h2 a {
	color: #895F30;
	text-decoration: none;	
	background: none; border: none;
}
#main ul li {
	list-style-image: url(images/bullet.gif);
}

/* Sidebar */	
#sidebar {
	float: right;
	width: 290px;
	padding: 0; margin: 15px 0 0 0;		
	display: inline;	
}	
#sidebar h3 {
	margin-top: 10px;
	padding: 15px 5px 3px 5px; 
	font: normal 2em 'trebuchet MS', Tahoma, Helvetica, Arial, sans-serif;	
	color: #666666;	
	letter-spacing: -.5px;	
}
#sidebar ul {
	text-align: left;
	margin: 7px 5px 8px 0px; padding: 0;
	text-decoration: none;		
	background: url(images/dots.gif) repeat-x left top;
}
#sidebar ul li {
	list-style: none;
	background: url(images/dots.gif) repeat-x left bottom;
	padding: 8px 10px;
	margin: 0;		
}
* html body #sidebar ul li {
	height: 1%;
}
#sidebar ul li a {
	text-decoration: none;	
	background-image: none;	
	background-color: transparent;
	border: none;
	color: #0C9BC2; 	
		
	font-weight: bold;		
	font-family: "Trebuchet MS", Tahoma, Helvetica, Arial, Sans-serif;
	font-size: 14px;	
	/* letter-spacing: .5px;  */
}
#sidebar ul li a span {
	color: #989898;	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: normal;	
	font-size: .8em;
}
#sidebar ul li a:hover {	
	color: #555;	
}
#sidebar ul ul { margin: 0 0 0 5px; padding: 0; }
#sidebar ul ul li { background: none; }

/* footer */
#footer-wrap {
	position: relative;
	clear: both;
	padding: 1em 0 2.5em 0;
	margin-top: 30px;
	font: normal 1em 'Trebuchet MS', Tahoma, sans-serif;	
	background: #ECF8FE;
	color: #777;
	width: 900px;
	float: left;		
}
#footer-wrap h3 {
	font: normal 1.6em/1.6em 'Trebuchet MS', Tahoma, sans-serif;
	text-transform: none;
	letter-spacing: 0;
	margin-left: 0;	
	color: #666666;	
}
#footer-content {	
	margin: 0 auto;		
	width: 880px;
	text-align: left;	
}
#footer-content ul {
	background: url(images/dots.gif) repeat-x left top;
	list-style: none;
	margin: 5px 0 0 5px; padding: 0;	
	width: 98%;
}

#footer-content  li {
	list-style: none;
	list-style-position: outside;
	list-style-image: none;
}
#footer-content ul li {
	background: url(images/dots.gif) repeat-x left bottom;
}
#footer-content ul li a {
	display: block;
	line-height: 2em;
	font-weight: bold;
	padding: 4px 0 4px 8px;
	width: 98%;	
	color: #777;
	border: none;
}
#footer-content ul li a:hover {
	color: #333;
	text-decoration: none;
}
#footer-content ul li a span {
	color: #989898;
	font-style: italic;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#footer-content .col {
	width: 280px;
	padding: 0 0 30px 0;			
	display: inline;
}
#footer-content .space-sep {
	margin-right: 12px;
}
#footer-content .col2 {
	width: 285px;
	padding: 0 0 30px 0;	
	display: inline;	
}

#footer-message {
	float: left;
	width: 45%;
}

#footer {
	float: right;
	width: 45%;
	text-align: right;
}

/* postmeta */
.postmeta {	
	padding: 5px; margin: 20px 10px 15px 10px;	
	font-size: 1em;	
	color: #777;
	border: 1px solid #ECF8FE;
	background: #ECF8FE;
}
.postmeta .date{ margin: 0 10px 0 5px;	}
.postmeta a.comments { margin: 0 10px 0 5px;	}
.postmeta a.readmore { margin: 0 10px 0 5px;	}

.post-info { font-size: .95em; padding-top: 3px; margin-left: 5px; color: #bababa;	}
.post-info a { color: #C5935C; }

/* thumbnails */
p.thumbs{ padding: 12px 0 0 10px; }

.thumbs img { 
	position: relative;
	border: 1px solid #ebebeb;
	background: none;
	padding: 4px;
	margin: 5px;
	/* margin: 4px 7px 4px 4px; */	
}
.thumbs img:hover	{
	border: 1px solid #c5c5c5; 
	background: none;	
}
.thumbs a:hover { background-color: transparent; border: none }

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }

/* display and additional classes */
.clearer { clear: both; }


/* Other */

#mission {
	margin: 45px 10px 10px 0;
 	padding: 10px;  
	background-color: #ECF8FE;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.5em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;	
	color: #976957;	
}

.messages, div.status {
  	margin: 5px 0;
  	padding: 15px;
  	text-align: left;
  	display: block;
  	overflow: auto;  
  	border: 1px solid #ECF8FE;
	background: #ECF8FE;
}